body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 3px);
    transform: rotate(-45deg) translate(-8px, 3px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -4px);
}

.approved {
    background-color: #67FF8B
}

.rejected {
    background-color: sandybrown
}

.pending {
    background-color: yellow
}
.all{
    background-color:lightgray
}
.all-employees {
    background-color: lightgray
}
.active-employees {
    background-color: #67FF8B
}
.deleted-employees{
    background-color: sandybrown;
}

.clickable-row:hover{
    opacity:0.65;
}
.top-row {
    background-color:#772953;
    color:white;
    border-bottom:1px black solid;
}
.legend{
    display:flex;
    text-align:center;
}
.legend-box{
    flex-direction:row;
    border:2px solid white;
    border-radius:7px;
    padding:5px;
    height:30px;
    margin-left:15px;
    cursor:pointer;
    opacity:0.5;
}
.legend-box:hover, .legend-box:active {
        opacity:1;
    }
.above-table{
    margin-bottom:7px;
    padding-bottom:7px;
}
.selected {
    opacity: 1;
    border: 2px solid #772953;
}
@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

.modal {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome  */
    -o-animation: fadein 0.5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}